.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-formmail {
  width: 43px;
  height: 32px;
  background-position: 0 0;
}
.icon-formperson {
  width: 32px;
  height: 32px;
  background-position: -96px 0;
}
.icon-formphone {
  width: 32px;
  height: 32px;
  background-position: -144px 0;
}
.icon-subscribe {
  width: 32px;
  height: 32px;
  background-position: -192px 0;
}

